In [12]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [18]:
def getData(query):
    tweets = []
    limit = 5000
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        tweets
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.id,tweet.date,tweet.user.username,tweet.replyCount,tweet.retweetCount,tweet.likeCount,tweet.lang,tweet.content])
    return tweets

In [19]:
df_ukraine = pd.DataFrame(getData('ukraine'), columns=['ids','date','user','replyCount','retweetCount','likeCount','lang','text'])
df_palestine=pd.DataFrame(getData('palestine'), columns=['ids','date','user','replyCount','retweetCount','likeCount','lang','text'])

In [20]:
df_palestine

,ids,date,user,replyCount,retweetCount,likeCount,lang,text
0,1512461522554871810,2022-04-08 16:05:01+00:00,clash_1984_,0,0,0,en,@nytimes Israel destroys and ki.lls Palestine ...
1,1512461470176616454,2022-04-08 16:04:49+00:00,zakajama,0,0,0,en,@MesutOzil1088 @Arsenalized_ All of the world ...
2,1512461450324942856,2022-04-08 16:04:44+00:00,AboMost05628208,0,0,0,ar,..#ŸÅŸÑÿ≥ÿ∑ŸäŸÜ \n#Palestine\nŸÅŸä ÿ±ÿπÿßŸäÿ© ÿßŸÑŸÑŸá \n#alt...
3,1512461435103760390,2022-04-08 16:04:40+00:00,Ragnarock0630,0,0,0,en,@DunreyAhaha @blankspot0 @almostdaad Palestine...
4,1512461429026209793,2022-04-08 16:04:39+00:00,ClaireRoyale74,0,0,0,fr,@EmmanuelMacron Vous √©tiez moins loquace en 20...
...,...,...,...,...,...,...,...,...
4995,1512246821950824459,2022-04-08 01:51:53+00:00,heavyed65,0,0,0,en,#Israeli #Colonizers Shoot Two #Palestinians N...
4996,1512246736911278084,2022-04-08 01:51:32+00:00,MsrAsma,1,0,1,fr,"@ToledanoIlan @DamienRieu En 1830 , les Juifs ..."
4997,1512246736219160580,2022-04-08 01:51:32+00:00,babouviste,0,0,3,en,@MeLean203 @Humanity1One I agree with your poi...
4998,1512246662739202048,2022-04-08 01:51:15+00:00,emmettimanu,1,0,4,en,@Coho29415979 @AllThingsIsrael @fr33palest1ne ...
4999,1512246655160094726,2022-04-08 01:51:13+00:00,LillyAnnFraizer,0,0,1,en,@kkfla737 I have no problem with opinions on w...

In [21]:
df_ukraine

,ids,date,user,replyCount,retweetCount,likeCount,lang,text
0,1512459198356930564,2022-04-08 15:55:47+00:00,bmsodonon,0,0,0,fr,#Ukraine. La grande #MANIPULATION.\nLes vrais ...
1,1512459195962040332,2022-04-08 15:55:47+00:00,OHFNews,0,0,0,pt,#URGENTE üá™üá∫üá∫üá¶ A presidente da Comiss√£o Europei...
2,1512459195865513984,2022-04-08 15:55:47+00:00,A_L_E_X_V_E_G_A,0,0,0,en,Ukraine war disruptions send food prices to th...
3,1512459194770808837,2022-04-08 15:55:46+00:00,MoreauS38805983,0,0,0,fr,@jkriss33 @Ru5tY_68 @Mediavenir Un faux pr√©tex...
4,1512459194447843342,2022-04-08 15:55:46+00:00,CharleneFFreem1,0,0,0,en,üí•HOW CAN THIS BE POSSIBLE ???\nPUTIN &amp; HIS...
...,...,...,...,...,...,...,...,...
4995,1512454284209754120,2022-04-08 15:36:16+00:00,texteherz,0,0,0,en,@HansiiT @chris_pyak @eduardheger Why doesn't ...
4996,1512454282787893253,2022-04-08 15:36:15+00:00,jimfitzpatrick,1,4,12,en,Just posted on Twitter but I will not RT. \nTh...
4997,1512454281936392195,2022-04-08 15:36:15+00:00,MaxwellLaFrance,1,0,1,en,We need a WWII style lend-lease program to sup...
4998,1512454281324081157,2022-04-08 15:36:15+00:00,WomansOwn,0,0,0,en,Pink Floyd is releasing a song to support Ukra...
4999,1512454281265356808,2022-04-08 15:36:15+00:00,cvaaustin,0,0,0,en,@EuromaidanPress @PeggyStuart While I agree th...

In [22]:
df=pd.concat([df_ukraine, df_palestine])

In [23]:
df.to_csv ('Ukraine_Palestine.csv', index = False, header=True)

In [24]:
df_ukraine.to_csv ('Ukraine.csv', index = False, header=True)

In [25]:
df_palestine.to_csv ('Palestine.csv', index = False, header=True)